body {
  font-family: sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(232, 220, 236);
}

#app {
  background-color: #9d7aa5;
  border: #614a66 2px solid;
  padding: 20px;
  border-radius: 8px;
}

.inputs {
  display: flex;
  flex-direction: column;
}
input {
  margin: 8px 0;
  padding: 8px;
}

.mostrar {
  display: flex;
}

.esconder {
  display: none;
}

#btn-calcular {
  background-color: #b677b4;
  color: #614a66;
  padding: 8px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

#btn-limpar {
  background-color: #a76ba5;
  color: #614a66;
  padding: 8px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.botoes {
  display: flex;
  justify-content: center;
}

.mostrar {
  display: flex;
  flex-direction: column;
}
.esconder {
  display: none;
}
#btn-Limpar {
  background-color: #b677b4;
  color: #614a66;
  padding: 8px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.resultados {
  background-color: #b677b4;
  border: #614a66 2px solid;
  padding: 20px;
  border-radius: 8px;
  margin: 16px;
}
